<div class="header d-flex justify-content-between p-3">
    <ul class="d-flex align-self-center">
      <li class="textPage cursor-pointer" routerLink="home">Home</li>
      <li class="textPage cursor-pointer" routerLink="promemoria">Promemoria</li>
      <li class="textPage cursor-pointer" routerLink="credits">Credits</li>
    </ul>
  <div class="d-flex">
    <div class="align-self-center me-2">Tizio Caio</div>
    <img class="avatar" src="../../../assets/Avatars/Avatar00.png" alt="img-Avatar">
  </div>
</div>
