
.home{
  background-image: url("../assets/Wallpaper.jpg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-item {
  flex: 0 0 auto;
  width: 100vw;
  box-sizing: border-box;

}
