<div *ngIf="schermataCard" class="modal">
  <div class="modal-content">
    <div class="d-flex justify-content-between">
      <h3>Crea la tua card</h3>
      <span class="close" (click)="cancelModal()">&times;</span>
    </div>

    <form class="example-form container" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
      <div class="flex-column justify-content-center">

        <mat-form-field appearance="fill">
          <mat-label>Titolo Card</mat-label>
          <input matInput placeholder="Ciao sono un titolo!" [(ngModel)]="titoloCard" name="titoloCard" required>
        </mat-form-field>
        <div class="my-2">
          <label>Scegli avatar: </label>
          <mat-radio-group [(ngModel)]="avatar" name="avatar" required>
            <mat-radio-button value="../../../assets/Avatars/Avatar00.png"><img class="avatar" src="../../../assets/Avatars/Avatar00.png" alt=""></mat-radio-button>
            <mat-radio-button value="../../../assets/Avatars/Avatar01.png"><img class="avatar" src="../../../assets/Avatars/Avatar01.png" alt=""></mat-radio-button>
            <mat-radio-button value="../../../assets/Avatars/Avatar02.png"><img class="avatar" src="../../../assets/Avatars/Avatar02.png" alt=""></mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Testo della Card</mat-label>
            <textarea matInput placeholder="Diventerò il testo della tua card!" [(ngModel)]="testoCard" name="testoCard" required></textarea>
          </mat-form-field>
        </div>

        <div class="d-flex justify-content-between">

          <mat-form-field>
            <mat-label>Colleghi</mat-label>
            <mat-select [(ngModel)]="collegaUno" name="collegaUno" required>
              <mat-option class="mb-1 me-1" value="../../../assets/Avatars/Avatar05.png"><img class="avatar" src="../../../assets/Avatars/Avatar05.png" alt=""> Signor orso</mat-option>
              <mat-option class="mb-1 me-1" value="../../../assets/Avatars/Avatar07.png"><img class="avatar" src="../../../assets/Avatars/Avatar07.png" alt=""> Mr.Papero</mat-option>
              <mat-option class="mb-1 me-1" value="../../../assets/Avatars/Avatar08.png"><img class="avatar" src="../../../assets/Avatars/Avatar08.png" alt=""> Foxy la Volpe</mat-option>
              <mat-option class="mb-1 me-1" value="../../../assets/Avatars/Avatar09.png"><img class="avatar" src="../../../assets/Avatars/Avatar09.png" alt=""> Bob cagnolone</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Colleghi</mat-label>
            <mat-select [(ngModel)]="collegaDue" name="collegaDue" required>
              <mat-option class="mb-1 me-1" value="../../../assets/Avatars/Avatar05.png"><img class="avatar" src="../../../assets/Avatars/Avatar05.png" alt=""> Signor orso</mat-option>
              <mat-option class="mb-1 me-1" value="../../../assets/Avatars/Avatar07.png"><img class="avatar" src="../../../assets/Avatars/Avatar07.png" alt=""> Mr.Papero</mat-option>
              <mat-option class="mb-1 me-1" value="../../../assets/Avatars/Avatar08.png"><img class="avatar" src="../../../assets/Avatars/Avatar08.png" alt=""> Foxy la Volpe</mat-option>
              <mat-option class="mb-1 me-1" value="../../../assets/Avatars/Avatar09.png"><img class="avatar" src="../../../assets/Avatars/Avatar09.png" alt=""> Bob cagnolone</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="d-flex justify-content-between">
          <mat-slide-toggle [(ngModel)]="opzioneUnoCard" name="opzioneUnoCard">Opzione Uno</mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="opzioneDueCard" name="opzioneDueCard">Opzione Due</mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="opzioneTreCard" name="opzioneTreCard">Opzione Tre</mat-slide-toggle>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button mat-raised-button color="primary" class="btn btn-success" type="submit">IButtonPlus</button>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="d-flex justify-content-between">


<div class="example-container scrollable-container">
  <div
  cdkDropList
  #todoList="cdkDropList"
  [cdkDropListData]="todo"
  [cdkDropListConnectedTo]="[doneList, progressList, pausaList]"
  class="example-list"
  (cdkDropListDropped)="drop($event)">
  <h6 class="pt-2">To do</h6>
    @for (item of todo; track item) {
      <mat-card class="example-card my-1" appearance="outlined" cdkDrag>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src={{item.avatar}} alt="" class="avatar"></div>
          <mat-card-title>{{item.titoloCard}}</mat-card-title>
          <mat-card-subtitle>++{{item.titoloCard}}++</mat-card-subtitle>
        </mat-card-header>
        <img class="img-thumbnail imgDimension d-flex align-self-center" mat-card-image src={{item.imgCard}} alt="">
        <mat-card-content>

        </mat-card-content>
        <div class="d-flex justify-content-between">
          <mat-card-actions>
            <button class="btn btn-danger me-1" mat-button>LIKE</button>
            <button class="btn btn-primary" mat-button>SHARE</button>
          </mat-card-actions>

          <div class="d-flex align-self-center">
            <div class="mx-1"><img class="avatarCollega" src={{item.collegaUno}} alt=""></div>
            <div class="mx-1"><img class="avatarCollega" src={{item.collegaDue}} alt=""></div>
          </div>
        </div>
        </mat-card>
    }

    <p class="cursor-pointer text-secondary pt-2" (click)="newCard('todo')">Aggiungi altre card</p>
  </div>
</div>

<div class="example-container">

  <div
  cdkDropList
  #progressList="cdkDropList"
  [cdkDropListData]="inProgress"
  [cdkDropListConnectedTo]="[doneList, todoList, pausaList]"
  class="example-list d-flex flex-column"
  (cdkDropListDropped)="drop($event)">
  <h6 class="pt-2">In Progress</h6>
    @for (item of inProgress; track item) {
      <mat-card class="example-card my-1" appearance="outlined" cdkDrag>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src={{item.avatar}} alt="" class="avatar"></div>
          <mat-card-title>{{item.titoloCard}}</mat-card-title>
          <mat-card-subtitle>++{{item.titoloCard}}++</mat-card-subtitle>
        </mat-card-header>
        <img class="img-thumbnail imgDimension d-flex align-self-center" mat-card-image src={{item.imgCard}} alt="">
        <mat-card-content>

        </mat-card-content>
        <div class="d-flex justify-content-between">
          <mat-card-actions>
            <button class="btn btn-danger me-1" mat-button>LIKE</button>
            <button class="btn btn-primary" mat-button>SHARE</button>
          </mat-card-actions>

          <div class="d-flex align-self-center">
            <div class="mx-1"><img class="avatarCollega" src={{item.collegaUno}} alt=""></div>
            <div class="mx-1"><img class="avatarCollega" src={{item.collegaDue}} alt=""></div>
          </div>
        </div>
      </mat-card>

      }
      <p class="cursor-pointer text-secondary pt-2" (click)="newCard('inProgress')">Aggiungi altre card</p>
  </div>
</div>

<div class="example-container p-2 bgSection">

  <div
  cdkDropList
  #pausaList="cdkDropList"
  [cdkDropListData]="pausaItems"
  [cdkDropListConnectedTo]="[doneList, todoList, progressList]"
  class="example-list d-flex flex-column"
  (cdkDropListDropped)="drop($event)">
  <h6 class="pt-2">Pausa</h6>
    @for (item of pausaItems; track item) {
      <mat-card class="example-card my-1" appearance="outlined" cdkDrag>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src={{item.avatar}} alt="" class="avatar"></div>
          <mat-card-title>{{item.titoloCard}}</mat-card-title>
          <mat-card-subtitle>++{{item.titoloCard}}++</mat-card-subtitle>
        </mat-card-header>
        <img class="img-thumbnail imgDimension d-flex align-self-center" mat-card-image src={{item.imgCard}} alt="">
        <mat-card-content>

        </mat-card-content>
        <div class="d-flex justify-content-between">
          <mat-card-actions>
            <button class="btn btn-danger me-1" mat-button>LIKE</button>
            <button class="btn btn-primary" mat-button>SHARE</button>
          </mat-card-actions>

          <div class="d-flex align-self-center">
            <div class="mx-1"><img class="avatarCollega" src={{item.collegaUno}} alt=""></div>
            <div class="mx-1"><img class="avatarCollega" src={{item.collegaDue}} alt=""></div>
          </div>
        </div>
      </mat-card>

      }
      <p class="cursor-pointer text-secondary pt-2" (click)="newCard('pausa')">Aggiungi altre card</p>
  </div>
</div>

<div class="example-container p-2 bgSection">

  <div
  cdkDropList
  #doneList="cdkDropList"
  [cdkDropListData]="done"
  [cdkDropListConnectedTo]="[todoList, progressList, pausaList]"
  class="example-list d-flex flex-column"
  (cdkDropListDropped)="drop($event)">
  <h6 class="pt-2">Done</h6>
    @for (item of done; track item) {
      <mat-card class="example-card my-1" appearance="outlined" cdkDrag>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src={{item.avatar}} alt="" class="avatar"></div>
          <mat-card-title>{{item.titoloCard}}</mat-card-title>
          <mat-card-subtitle>++{{item.titoloCard}}++</mat-card-subtitle>
        </mat-card-header>
        <img class="img-thumbnail imgDimension d-flex align-self-center" mat-card-image src={{item.imgCard}} alt="">
        <mat-card-content>

        </mat-card-content>
        <div class="d-flex justify-content-between">
          <mat-card-actions>
            <button class="btn btn-danger me-1" mat-button>LIKE</button>
            <button class="btn btn-primary" mat-button>SHARE</button>
          </mat-card-actions>

          <div class="d-flex align-self-center">
            <div class="mx-1"><img class="avatarCollega" src={{item.collegaUno}} alt=""></div>
            <div class="mx-1"><img class="avatarCollega" src={{item.collegaDue}} alt=""></div>
          </div>
        </div>
      </mat-card>

      }

      <p class="cursor-pointer text-secondary pt-2" (click)="newCard('done')">Aggiungi altre card</p>
  </div>
</div>

</div>

